/* /************* ALL FONTS ************** */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lepcha&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/**********************************
 	1. Global CSS Start 
 **********************************/
 :root {

    --theme-title-family: 'Poppins', sans-serif;
    --theme-text-family: 'Noto Sans Lepcha', sans-serif;
    
    --theme-bg-light:#FFF7ED;
    --theme-text-light: #e9d2d2;
    --theme-main-bg: #161925;;
    --theme-font-color: #9CD161;
    --theme-title-color: #fff;
    --theme-primay-color: #030e4f;
    --theme-secondry-color: #1E2131;
    --theme-secondry-color-light: #212434;
    --theme-white: #ffffff;
    --theme-font12: 12px;
    --theme-font14: 14px;
    --theme-font16: 16px;
    --theme-font18: 18px;
    --theme-font-size: 18px;
    --theme-font24: 24px;
    --theme-page-title-size: 52px;
    --theme-yellow-1:#FFBE16;
    --theme-yellow-2:#9CD161;
    --theme-sky-color:#6EBECE;
    --theme-orange:#FF2525;
    --theme-radius20: 10px;

    --theme-color: #303030;
    --theme-color-dark: #003934;
    --theme-color-inv: #D1B366;
    --theme-border-color: #efefef;
    --theme-input-border: #efefef;
    --theme-input-bg: #ffffff;
    --theme-footer-bg: #141519;
    --theme-placeholder: #b1b1b1;
    --theme-secondary: #070E35;
    --theme-btn-light: #C8C8C8;
    --theme-radius0: 0;
    --theme-radius-comman: 3px;
    --theme-circle-radius: 50%;
    --theme-page-title-font: 50px;
    --theme-title-size: 42px;
    --theme-sub-title-size: 26px;
    --theme-widgets-title-size: 22px;
    --theme-shadow: 0 0 30px rgb(0 0 0 / 3%);
    --theme-transition: all 0.3s;
}
* {
    outline: 0 !important;
}
body {
    font-family: var(--theme-text-family);
    font-weight: 400;
    font-size: var(--theme-font-size);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background: var(--theme-main-bg);
    color: var(--theme-white);
    position: relative;
    padding-top: 102px;
}
body::-webkit-scrollbar {
    width: 6px;
    box-shadow: none;
}
body::-webkit-scrollbar-track {
    background-color: var(--theme-bg-light);
    box-shadow: none;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--theme-secondry-color);
    box-shadow: none;
}
.font_light {
    font-weight: 400;
}
.fs_14 {
    font-size: 14px;
}
.text-orange{
    color: var(--theme-font-color);
}
.text-yellow{
    color: var(--theme-yellow-2);
}
.bg-f4{
    background-color: #f4f4f4; 
}
.bg_secondary{
    background-color: var(--theme-secondry-color);
}
a,
a:hover,
a:focus,
button,
button:hover {
    text-decoration: none;
    -webkit-transition: var(--theme-transition);
    -moz-transition: var(--theme-transition);
    -ms-transition: var(--theme-transition);
    -o-transition: var(--theme-transition);
    transition: var(--theme-transition);
}
li{
    list-style: none;
}
p{
    font-family: 'Noto Sans Lepcha', sans-serif;
    font-size: var(--theme-font16);
}
img {
    max-width: 100%;
    height: auto;
}
img.obj_fit_contain {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
img.obj_fit_cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.radius-30{
    border-radius: 30px;
}
.icon-w{
    width: 22px;
    height: 20px;
}
.theme_color {
    color: var(--theme-color) !important;
}
.theme_secondary {
    background-color: var(--theme-secondry-color) !important;
}
.theme_color_inv {
    color: var(--theme-color-inv) !important;
}
.theme_font_color {
    color: var(--theme-font-color) !important;
}
.theme_title_color {
    color: var(--theme-title-color) !important;
}
.theme_bodycolor {
    color: var(--theme-font-color) !important;
}
.theme_bg {
    background: var(--theme-color) !important;
}
.theme_bg_light {
    background: var(--theme-bg-light) !important;
}
input,
textarea,
select,
button,
button:focus,
button:hover,
label,
.form-control:focus {
    box-shadow: none;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--theme-title-color);
    text-transform: capitalize;
    font-family: var( --theme-title-family);
    line-height: 1.2;
}
h1.fs-66, h2.fs-66{
    font-family: 'Poppins', sans-serif; 
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
}
h1{
    font-family: 'Poppins', sans-serif; 
    font-size: 50px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0em;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0em;
}
h3 {
    font-size: 36px;
}
h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 57px;
    letter-spacing: 0em;
}
h5{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
}
h6{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
}
.sub-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.p-20{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
}
.p-14{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}
.p-16{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}
.b-radius-20{
    border-radius: var(--theme-radius20);
}
iframe {
    width: 100%;
    border: none;
}
a{
    color: var(--theme-white);
}
a:hover{
    color: inherit;
}
input,
textarea,
select {
    color: var(--theme-font-color);
    background: var(--theme-main-bg);
    padding: 24px 40px;
    line-height: 40px;
    border-radius: var(--theme-radius-comman);
    font-size: var(--theme-font14);
    border: 0;
    outline: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 10px;
}
textarea {
    height: 250px;
    border-radius: var(--theme-radius-comman);
    padding: 20px;
    border-radius: 10px;
}
input:focus,
textarea:focus,
select:focus {
    border-color: var(--theme-color-inv);
    color: var(--theme-font-color);
}
input:focus,
textarea {
    -webkit-transition: var(--theme-transition);
    -moz-transition: var(--theme-transition);
    -ms-transition: var(--theme-transition);
    -o-transition: var(--theme-transition);
    transition: var(--theme-transition);
}
input::-webkit-input-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: var(--theme-white);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}
input::-moz-placeholder,
textarea::-moz-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: var(--theme-font-color);
    opacity: .6;
}
input:-ms-input-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: var(--theme-font-color);
    opacity: .6;
}
input:-moz-placeholder,
input:-moz-placeholder,
textarea:-moz-placeholder,
textarea:-moz-placeholder {
    color: var(--theme-font-color);
    opacity: .6;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
label {
    color: var(--theme-white);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 15px;
}
textarea {
    resize: none;
    height: 100px;
}

/* PRE LOADER */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--theme-main-bg);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.loader {
    --loader-size: 50px;
    --loader-border-size: 4px;
    --loader-border-color: white;
    width: var(--loader-size);
    height: var(--loader-size);
    border: var(--loader-border-size) solid var(--loader-border-color);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    animation: rotateX 1s infinite linear;
}
  
.loader::before {
    content: "";
    border: var(--loader-border-size) solid var(--loader-border-color);
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    animation: rotateX 0.5s infinite linear reverse;
}
  
@keyframes rotateX {
from {
    transform: rotateZ(0deg);
}
to {
    transform: rotateZ(360deg);
}
}
/* Go to top Button*/

.scroll-to-topp {
    position: fixed;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    -webkit-border-radius: var(--theme-radius10);
    -moz-border-radius: var(--theme-radius10);
    border-radius: var(--theme-radius10);
    z-index: 9;
    visibility: hidden;
    -webkit-transform: translateY(150px);
    -ms-transform: translateY(150px);
    transform: translateY(150px);
    background: var(--theme-color);
    color: var(--theme-white);
    font-size: var(--theme-sub-title-size);
}
.scroll-to-topp:hover,
.scroll-to-topp:visited,
.scroll-to-topp:visited:hover,
.scroll-to-topp:focus {
    color: var(--theme-white);
}
.scroll-to-topp.active {
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    animation: bounceInDown 2s;
    -webkit-animation: bounceInDown 2s;
    -moz-animation: bounceInDown 2s;
}
@keyframes bounce {
    0%,
    100% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0px);
    }
}
/**********************************
 	Theme Settings
 **********************************/

section {
    padding-top: 70px;
    padding-bottom: 70px;
}
.theme_btn {
    position: relative;
    text-align: center;
    cursor: pointer;
    z-index: 0;
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all .3s cubic-bezier(.19, 1, .22, 1);
    transition: all .3s cubic-bezier(.19, 1, .22, 1);
    padding: 14px 40px;
    border: 1px solid transparent;
}
.theme_btn.lg{
    padding: 15px 50px;
}

.theme_btn::after {
    content: '';
    position: absolute;
}

.theme_btn_light {
    color: #414141;
    background: var(--theme-btn-light);
    border: 1px solid var(--theme-btn-light);
}
.theme_btn_dark {
    color: var(--theme-primay-color);
    background: var(--theme-white);
    border: 2px solid #003934;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all .3s cubic-bezier(.19, 1, .22, 1);
    transition: all .3s cubic-bezier(.19, 1, .22, 1);
    padding: 16px 40px;
}
.theme_btn_dark:hover{
    color: var(--theme-main-bg);
    background-color: transparent;
    color: var(--theme-white);
    border-color:var(--theme-white)
}
.theme_btn_outline {
    color: var(--theme-white);
    background: transparent;
    border: 2px solid var(--theme-white);
}
.theme_btn_outline:focus,
.theme_btn_outline:hover {
    background: var(--theme-white);
    color: var(--theme-primay-color);
}



/*= input focus effects css
=========================== */
:focus {
    outline: none;
}
.input-effect {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
}
/*= input focus effects css End
=============================== */


/* opacity */

.opacity_0 {
    opacity: 0;
}

.opacity_1 {
    opacity: 0.1;
}

.opacity_2 {
    opacity: 0.2;
}

.opacity_3 {
    opacity: 0.3;
}

.opacity_4 {
    opacity: 0.4;
}

.opacity_5 {
    opacity: 0.5;
}

.opacity_6 {
    opacity: 0.6;
}

.opacity_7 {
    opacity: 0.7;
}

.opacity_8 {
    opacity: 0.8;
}

.opacity_9 {
    opacity: 0.9;
}
/*  home & hero Banners  */

.home-banner .carousel-item {
    position: relative;
    height: calc(100vh - 80px);
    overflow: hidden;
}

.home-banner {
    position: relative;
    height: calc(100vh - 80px);
    overflow: hidden;
}

.home-banner .content_box.theme_icon_star {
    position: relative;
    padding-left: 150px;
}
.hero-banner .content_box.theme_icon_star {
    position: relative;
    padding-left: 130px;
}
.home-banner .content_box .btn_gray{
    background-color: #C0C8B6;
    border-color: transparent;
}
@media only screen and (max-height: 700px) {
    .home-banner .carousel-item {
        height: calc(100vh - 80px);
    }
    .home-banner {
        height: calc(100vh - 80px);
    }
}
.hero-banner {
    position: relative;
    height: 450px;
    overflow: hidden;
    background: #fff;
}

.hero-banner .carousel-item {
    height: 500px;
}
.home-banner .carousel-item .carousel-caption {
    text-align: left;
    position: absolute;
    right: unset;
    left: unset;
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 50px;
    color: var(--theme-font-color);
    width: 100%;
}
.hero-banner .carousel-item:after {
    position: absolute;
    width: 100%;
    top: 0;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(270deg, rgb(255 255 255 / 0%) 0%, rgb(0 0 0 / 55%) 100%, rgb(255 255 255 / 0%) 100%);
}
.hero-banner .carousel-caption {
    position: absolute;
    right: unset;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1140px;
    width: 100%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    height: fit-content;
}

.hero-banner .carousel-caption h2,
.hero-banner .carousel-caption h4 {
    color: #fff;
    margin-bottom: 0;
}

.hero-banner .carousel-caption p {
    color: #fff;
    max-width: 40%;
}

.hero-banner .carousel-inner video,
.hero-banner .carousel-inner img.banner_bg,
.home-banner img.banner_bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-banner .carousel-inner video,
.home-banner .carousel-inner img.home-banner-bg {
    width: 100%;
    object-fit: cover;
}

.home-banner .carousel-indicators li {
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    background: unset;
    text-indent: 0;
    border: 0;
    padding: 10px;
}


.home-banner .carousel-inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*  */
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1436px;
}
}
.navbar-toggler:focus{
    box-shadow: none;
}

.btn-close:focus{
    box-shadow: none;
}
.btn-close{
    background-image: url(../img/home-page/cross.svg);
}

/* animations */
.zooming {
    animation: 5s zooming infinite linear;
    -webkit-animation: 5s zooming infinite linear;
    -moz-animation: 5s zooming infinite linear;
    -ms-animation: 5s zooming infinite linear;
    -o-animation: 5s zooming infinite linear;
}
@-webkit-keyframes zooming {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@keyframes zooming {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@keyframes rotateIndefinitely {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



@media only screen and (max-width:992px){
    h1.fs-66, h2.fs-66{
        font-family: 'Poppins', sans-serif; 
        font-size: 45px;
        font-weight: 600;
        line-height: 50px;
    }
}
@media only screen and (max-width:767px){
    h1.fs-66, h2.fs-66{
        font-family: 'Poppins', sans-serif; 
        font-size: 40px;
        font-weight: 600;
        line-height: 45px;
    }
}


@media only screen and (max-width:600px){
    h1{
        font-size: 32px;
        font-weight: 600;
        line-height: 38px;
    }
    h2{
        font-size: 30px;
        line-height: 40px;
    }
    h4 { 
        font-size: 24px;
        line-height: 30px;
    }
    h1.fs-66, h2.fs-66{
        font-size: 30px;
        line-height: 40px;
    }
    section{
        padding: 35px 0;
    }
    .container{
        --bs-gutter-x: 2rem;
    }
    .p-20{
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        line-height: 25px;
    }
    h6{
        font-size: 22px;
        line-height: 1.5;
    }
}